$primary: #40e0d0;
$primary-light: #b2e2d9;
$secondary: #35b9ac;
$terciary: #288b81;
$dark: #212223;
$background: #f4fffe;
$light: #efefef;
$grey: #807e7e;
$dark-grey: #434445;
$red: #ff153c;
$shadow: #d8d7d7;

$max-size: 1000px;
